name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup Flutter
        uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Install
        run: |
          flutter config --enable-web
          flutter pub get
      - name: Build
        run: cd example && flutter build web
      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: "${{ secrets.GITHUB_TOKEN }}"
          firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_RAMAH_GET_VERSION }}"
          projectId: ramah-get-version
        env:
          FIREBASE_CLI_PREVIEWS: hostingchannels
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
#           github_token: ${{ secrets.GITHUB_TOKEN }}
          # personal_token: ${{ secrets.PERSONAL_TOKEN }}
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          publish_dir: ./example/build/web
